.toaster {
    position: absolute;
    padding: 15px 40px 15px 20px;
    color: white;
    background-color: #333;
    border-radius: 3px;
    
    &.toaster-top-right {
        top: 10px;
        right: 10px;
    }
    
    &.toaster-bottom-right {
        bottom: 10px;
        right: 10px;
    }
    
    &.toaster-top-left {
        top: 10px;
        left: 10px;
    }
    
    &.toaster-bottom-left {
        bottom: 10px;
        left: 10px;
    }
    
    .close-button {
        position: absolute;
        top: 16px;
        right: 15px;
        cursor: pointer;
    }
}